<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">

    <include resource="logback/logback-base.xml" />
    <!-- 日志输出级别 -->
    <root level="INFO">
<!--        &lt;!&ndash; 错误日志 &ndash;&gt;-->
<!--        <appender-ref ref="errorLog"/>-->
        <appender-ref ref="STDOUT"/>
        <!-- 消息日志 -->
        <appender-ref ref="infoLog"/>
    </root>

</configuration>